@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html,
body {
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Courier, monospace;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0px 25px;
}

/*========================================= HEADER =========================================*/
.header {
  padding-top: calc(80px + (10 - 80) * ((1960px - 100vw) / (1960 - 320)));
  padding-bottom: calc(80px + (10 - 80) * ((1960px - 100vw) / (1960 - 320)));
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-column-gap: calc(25px + (5 - 25) * ((1960px - 100vw) / (1960 - 320)));
          column-gap: calc(25px + (5 - 25) * ((1960px - 100vw) / (1960 - 320)));
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.header__logo img {
  width: calc(72px + (44 - 72) * ((1960px - 100vw) / (1960 - 320)));
  width: calc(72px + (44 - 72) * ((1960px - 100vw) / (1960 - 320)));
}

.header__logotext {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
}

.header__search input {
  width: 250px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 12px 20px 12px 42px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
  font-size: calc(18px + (14 - 18) * ((1960px - 100vw) / (1960 - 320)));
}

.header__search input:focus {
  width: 250px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.header__search input:focus::-webkit-input-placeholder {
  color: transparent;
}

.header__search input:focus:-ms-input-placeholder {
  color: transparent;
}

.header__search input:focus::-ms-input-placeholder {
  color: transparent;
}

.header__search input:focus::placeholder {
  color: transparent;
}

.header__cart {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.logotext__title {
  text-transform: uppercase;
  font-size: calc(30px + (16 - 30) * ((1960px - 100vw) / (1960 - 320)));
  font-weight: 800;
  line-height: calc(36px + (18 - 36) * ((1960px - 100vw) / (1960 - 320)));
}

.logotext__subtitle {
  font-size: calc(22px + (12 - 22) * ((1960px - 100vw) / (1960 - 320)));
  color: #7b7b7b;
}

.cart-header {
  background-color: #fa7f14;
  color: white;
  padding: calc(16px + (6 - 16) * ((1960px - 100vw) / (1960 - 320)));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
  border-radius: 30px;
  font-size: calc(18px + (10 - 18) * ((1960px - 100vw) / (1960 - 320)));
  font-weight: 800;
  cursor: pointer;
  text-align: center;
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.cart-header:hover {
  background-color: #e3710d;
}

.cart-header__delimetr {
  width: 1px;
  height: calc(22px + (14 - 22) * ((1960px - 100vw) / (1960 - 320)));
  background-color: #ffffff;
  margin-left: calc(10px + (6 - 10) * ((1960px - 100vw) / (1960 - 320)));
  margin-right: calc(10px + (6 - 10) * ((1960px - 100vw) / (1960 - 320)));
}

.cart-header__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

/*========================================= HEADER =========================================*/
/*========================================= MAIN =========================================*/
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: calc(40px + (20 - 40) * ((1960px - 100vw) / (1960 - 320)));
}

.content-top {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.content-top__categories ul {
  font-size: calc(18px + (12 - 18) * ((1960px - 100vw) / (1960 - 320)));
  color: #232323;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: calc(20px + (6 - 20) * ((1960px - 100vw) / (1960 - 320)));
}

.content-top__categories ul li {
  padding-top: calc(15px + (10 - 15) * ((1960px - 100vw) / (1960 - 320)));
  padding-bottom: calc(15px + (10 - 15) * ((1960px - 100vw) / (1960 - 320)));
  padding-left: calc(10px + (5 - 10) * ((1960px - 100vw) / (1960 - 320)));
  padding-right: calc(10px + (5 - 10) * ((1960px - 100vw) / (1960 - 320)));
  background-color: #e8e8e8;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 700;
}

.content-top__categories ul li:hover {
  background-color: #d6d6d6;
}

.content-top__categories ul li.active {
  background-color: #11111f;
  color: #fff;
}

.content-top .sort {
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.content-top .sort__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(22px + (12 - 22) * ((1960px - 100vw) / (1960 - 320)));
  font-weight: 800;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.content-top .sort__label b {
  margin-right: 8px;
}

.content-top .sort__label span {
  border-bottom: 1px dashed #fa7f14;
  color: #fa7f14;
  cursor: pointer;
}

.content-top .sort__popup {
  position: absolute;
  margin-top: calc(30px + (20 - 30) * ((1960px - 100vw) / (1960 - 320)));
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
  padding: 10px 0;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  -o-border-image: initial;
     border-image: initial;
}

.content-top .sort__popup ul {
  overflow: hidden;
}

.content-top .sort__popup ul li {
  font-size: calc(16px + (12 - 16) * ((1960px - 100vw) / (1960 - 320)));
  cursor: pointer;
  padding-top: calc(12px + (6 - 12) * ((1960px - 100vw) / (1960 - 320)));
  padding-bottom: calc(12px + (6 - 12) * ((1960px - 100vw) / (1960 - 320)));
  padding-left: calc(20px + (10 - 20) * ((1960px - 100vw) / (1960 - 320)));
  padding-right: calc(20px + (10 - 20) * ((1960px - 100vw) / (1960 - 320)));
}

.content-top .sort__popup ul li:hover {
  background: rgba(254, 95, 30, 0.05);
}

.content-top .sort__popup ul li.active {
  color: #fa7f14;
  font-weight: 700;
  background: rgba(254, 95, 30, 0.05);
}

.main__content-title {
  margin-top: calc(35px + (15 - 35) * ((1960px - 100vw) / (1960 - 320)));
  margin-bottom: calc(35px + (15 - 35) * ((1960px - 100vw) / (1960 - 320)));
  font-size: calc(28px + (18 - 28) * ((1960px - 100vw) / (1960 - 320)));
  font-weight: 600;
  line-height: 30px;
}

.content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: calc(60px + (20 - 60) * ((1960px - 100vw) / (1960 - 320)));
          column-gap: calc(60px + (20 - 60) * ((1960px - 100vw) / (1960 - 320)));
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content-items .pizzablock {
  padding: 5px;
  width: calc(260px + (120 - 260) * ((1960px - 100vw) / (1960 - 320)));
  margin-bottom: calc(65px + (25 - 65) * ((1960px - 100vw) / (1960 - 320)));
  text-align: center;
}

.content-items .pizzablock__image img {
  width: 100%;
}

.content-items .pizzablock__title {
  font-size: calc(22px + (18 - 22) * ((1960px - 100vw) / (1960 - 320)));
  font-weight: 900;
  height: calc(50px + (24 - 50) * ((1960px - 100vw) / (1960 - 320)));
  letter-spacing: 1px;
}

.content-items .pizzablock__selector {
  padding: 6px;
  background-color: #dedede;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 6px;
}

.content-items .pizzablock__selector ul:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
}

.content-items .pizzablock__selector ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.content-items .pizzablock__selector ul li {
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  font-size: 14px;
  font-weight: 600;
  padding: calc(8px + (2 - 8) * ((1960px - 100vw) / (1960 - 320)));
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.content-items .pizzablock__selector ul li:hover {
  background: #e9e9e9;
}

.content-items .pizzablock__selector ul li.active {
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  cursor: auto;
}

.content-items .pizzablock__bottom {
  margin-top: calc(20px + (10 - 20) * ((1960px - 100vw) / (1960 - 320)));
  padding: 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-items .pizzablock__price {
  font-size: calc(20px + (12 - 20) * ((1960px - 100vw) / (1960 - 320)));
  font-weight: 800;
}

.content-items .pizzablock__button {
  border: 1px solid #fa7f14;
  background-color: #fff;
  border-radius: 20px;
  padding-top: calc(8px + (4 - 8) * ((1960px - 100vw) / (1960 - 320)));
  padding-bottom: calc(8px + (4 - 8) * ((1960px - 100vw) / (1960 - 320)));
  padding-left: calc(8px + (6 - 12) * ((1960px - 100vw) / (1960 - 320)));
  padding-right: calc(8px + (6 - 12) * ((1960px - 100vw) / (1960 - 320)));
  color: #fa7f14;
  font-weight: 800;
  font-size: calc(18px + (8 - 18) * ((1960px - 100vw) / (1960 - 320)));
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.content-items .pizzablock__button:hover {
  background-color: #f5831f;
  color: #fff;
}

.content-items .pizzablock__button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

/*========================================= MAIN =========================================*/
/*========================================= FOOTER =========================================*/
.footer {
  padding-top: calc(40px + (10 - 40) * ((1960px - 100vw) / (1960 - 320)));
  padding-bottom: calc(40px + (10 - 40) * ((1960px - 100vw) / (1960 - 320)));
  border-top: 1px solid rgba(0, 0, 0, 0.075);
}

/*========================================= FOOTER =========================================*/
/*========================================= RESPONSIVE MEDIA REQUESTS =========================================*/
@media (max-width: 964px) {
  .header__search input {
    width: 150px;
  }
  .header__search input:focus {
    width: 150px;
  }
  .header__search input::-webkit-input-placeholder {
    color: transparent;
  }
  .header__search input:-ms-input-placeholder {
    color: transparent;
  }
  .header__search input::-ms-input-placeholder {
    color: transparent;
  }
  .header__search input::placeholder {
    color: transparent;
  }
  .main .content-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .content-top__sort {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media (max-width: 798px) {
  .header__search {
    display: none;
  }
}

@media (max-width: 460px) {
  .logotext__subtitle {
    display: none;
  }
}

/*========================================= RESPONSIVE MEDIA REQUESTS =========================================*/
